In [12]:
%pwd

'/home/brett/Documents/JupyterNotebooks/AgResearch'

In [13]:
%ls

2014OrganicSurvey/  OrganicsGraphLoadData.ipynb
daily/              Prices_OrganicsVsConv.ipynb
main-Copy1.ipynb    Prices_OrganicsVsConv_v0.2.ipynb
main.ipynb          ProductionVolumeVsExchangeTradedVolume.ipynb
OrganicGraph/

In [20]:
ticker = 'AAPL'

In [21]:
fname = join(DATA_DIR, 'table_%s.csv' % ticker.lower())

In [22]:
fname

'daily/table_aapl.csv'

In [23]:
data = pd.read_csv(fname, header=None, parse_dates=['date'],
                       names=['date', 'foo', 'o', 'h', 'l', 'c', 'v'])

In [25]:
data = data.set_index('date')

In [28]:
data.head()

            foo        o        h        l        c            v
date
1998-01-02    0  3.31397  3.95098  3.28236  3.95098  24947201.10
1998-01-05    0  4.01177  4.02635  3.69325  3.89020  22344145.08
1998-01-06    0  3.87561  4.98432  3.58628  4.60502  63150252.55
1998-01-07    0  4.57341  4.68040  4.20871  4.24032  36978255.52
1998-01-08    0  4.24032  4.52965  4.11875  4.39107  27687622.95

In [26]:
pd.DataFrame({ticker: data.c, ticker+'_returns': data.c.diff()})

                 AAPL  AAPL_returns
date
1998-01-02    3.95098           NaN
1998-01-05    3.89020      -0.06078
1998-01-06    4.60502       0.71482
1998-01-07    4.24032      -0.36470
1998-01-08    4.39107       0.15075
1998-01-09    4.43726       0.04619
1998-01-12    4.46886       0.03160
1998-01-13    4.76306       0.29420
1998-01-14    4.78738       0.02432
1998-01-15    4.66581      -0.12157
1998-01-16    4.55883      -0.10698
1998-01-20    4.61962       0.06079
1998-01-21    4.59044      -0.02918
1998-01-22    4.69499       0.10455
1998-01-23    4.74118       0.04619
1998-01-26    4.71201      -0.02917
1998-01-27    4.68040      -0.03161
1998-01-28    4.68040       0.00000
1998-01-29    4.51263      -0.16777
1998-01-30    4.46886      -0.04377
1998-02-02    4.28652      -0.18234
1998-02-03    4.45185       0.16533
1998-02-04    4.45185       0.00000
1998-02-05    4.46886       0.01701
1998-02-06    4.48346       0.01460
1998-02-09    4.68040       0.19694
1998-02-10    4.71201       0.03161
1998-02-11    4.63420      -0.07781
1998-02-12    4.69499       0.06079
1998-02-13    4.75577       0.06078
...               ...           ...
2013-06-28  394.64400       3.39700
2013-07-01  406.52600      11.88200
2013-07-02  416.07300       9.54700
2013-07-03  418.08900       2.01600
2013-07-05  414.25500      -3.83400
2013-07-08  411.94000      -2.31500
2013-07-09  419.38100       7.44100
2013-07-10  417.39400      -1.98700
2013-07-11  424.64600       7.25200
2013-07-12  423.06700      -1.57900
2013-07-15  424.66600       1.59900
2013-07-16  427.52700       2.86100
2013-07-17  427.45800      -0.06900
2013-07-18  429.06700       1.60900
2013-07-19  422.09300      -6.97400
2013-07-22  423.38400       1.29100
2013-07-23  416.20200      -7.18200
2013-07-24  437.80900      21.60700
2013-07-25  435.96100      -1.84800
2013-07-26  437.97800       2.01700
2013-07-29  444.92200       6.94400
2013-07-30  450.60500       5.68300
2013-07-31  449.50200      -1.10300
2013-08-01  453.42600       3.92400
2013-08-02  459.47600       6.05000
2013-08-05  466.14200       6.66600
2013-08-06  462.30700      -3.83500
2013-08-07  461.79100      -0.51600
2013-08-08  461.06000      -0.73100
2013-08-09  454.37000      -6.69000

[3926 rows x 2 columns]

In [8]:

DATA_DIR = join(dirname("__file__"), 'daily')

DEFAULT_TICKERS = ['AAPL', 'GOOG', 'INTC', 'BRCM', 'YHOO']

def load_ticker(ticker):
    fname = join(DATA_DIR, 'table_%s.csv' % ticker.lower())
    data = pd.read_csv(fname, header=None, parse_dates=['date'],
                       names=['date', 'foo', 'o', 'h', 'l', 'c', 'v'])
    data = data.set_index('date')
    return pd.DataFrame({ticker: data.c, ticker+'_returns': data.c.diff()})

In [31]:
t1='GOOG'
t2='AAPL'

In [32]:
def get_data(t1, t2):
    df1 = load_ticker(t1)
    df2 = load_ticker(t2)
    data = pd.concat([df1, df2], axis=1)
    data = data.dropna()
    data['t1'] = data[t1]
    data['t2'] = data[t2]
    data['t1_returns'] = data[t1+'_returns']
    data['t2_returns'] = data[t2+'_returns']
    return data

In [38]:
data;

In [33]:
source = ColumnDataSource(data=dict(date=[], t1=[], t2=[], t1_returns=[], t2_returns=[]))

In [35]:
source.selected

{'0d': {'glyph': None, 'indices': []},
 '1d': {'indices': []},
 '2d': {'indices': []}}

In [5]:
''' Create a simple stocks correlation dashboard.
Choose stocks to compare in the drop down widgets, and make selections
on the plots to update the summary and histograms accordingly.
.. note::
    Running this example requires downloading sample data. See
    the included `README`_ for more information.
Use the ``bokeh serve`` command to run the example by executing:
    bokeh serve stocks
at your command prompt. Then navigate to the URL
    http://localhost:5006/stocks
.. _README: https://github.com/bokeh/bokeh/blob/master/examples/app/stocks/README.md
'''
try:
    from functools import lru_cache
except ImportError:
    # Python 2 does stdlib does not have lru_cache so let's just
    # create a dummy decorator to avoid crashing
    print ("WARNING: Cache for this example is available on Python 3 only.")
    def lru_cache():
        def dec(f):
            def _(*args, **kws):
                return f(*args, **kws)
            return _
        return dec

from os.path import dirname, join

import pandas as pd

from bokeh.io import curdoc
from bokeh.layouts import row, column
from bokeh.models import ColumnDataSource
from bokeh.models.widgets import PreText, Select
from bokeh.plotting import figure

DATA_DIR = join(dirname("__file__"), 'daily')

DEFAULT_TICKERS = ['AAPL', 'GOOG', 'INTC', 'BRCM', 'YHOO']

def nix(val, lst):
    return [x for x in lst if x != val]

@lru_cache()
def load_ticker(ticker):
    fname = join(DATA_DIR, 'table_%s.csv' % ticker.lower())
    data = pd.read_csv(fname, header=None, parse_dates=['date'],
                       names=['date', 'foo', 'o', 'h', 'l', 'c', 'v'])
    data = data.set_index('date')
    return pd.DataFrame({ticker: data.c, ticker+'_returns': data.c.diff()})

@lru_cache()
def get_data(t1, t2):
    df1 = load_ticker(t1)
    df2 = load_ticker(t2)
    data = pd.concat([df1, df2], axis=1)
    data = data.dropna()
    data['t1'] = data[t1]
    data['t2'] = data[t2]
    data['t1_returns'] = data[t1+'_returns']
    data['t2_returns'] = data[t2+'_returns']
    return data

# set up widgets

stats = PreText(text='', width=500)
ticker1 = Select(value='AAPL', options=nix('GOOG', DEFAULT_TICKERS))
ticker2 = Select(value='GOOG', options=nix('AAPL', DEFAULT_TICKERS))

# set up plots

source = ColumnDataSource(data=dict(date=[], t1=[], t2=[], t1_returns=[], t2_returns=[]))
source_static = ColumnDataSource(data=dict(date=[], t1=[], t2=[], t1_returns=[], t2_returns=[]))
tools = 'pan,wheel_zoom,xbox_select,reset'

corr = figure(plot_width=350, plot_height=350,
              tools='pan,wheel_zoom,box_select,reset')
corr.circle('t1_returns', 't2_returns', size=2, source=source,
            selection_color="orange", alpha=0.6, nonselection_alpha=0.1, selection_alpha=0.4)

ts1 = figure(plot_width=900, plot_height=200, tools=tools, x_axis_type='datetime', active_drag="xbox_select")
ts1.line('date', 't1', source=source_static)
ts1.circle('date', 't1', size=1, source=source, color=None, selection_color="orange")

ts2 = figure(plot_width=900, plot_height=200, tools=tools, x_axis_type='datetime', active_drag="xbox_select")
ts2.x_range = ts1.x_range
ts2.line('date', 't2', source=source_static)
ts2.circle('date', 't2', size=1, source=source, color=None, selection_color="orange")

# set up callbacks

def ticker1_change(attrname, old, new):
    ticker2.options = nix(new, DEFAULT_TICKERS)
    update()

def ticker2_change(attrname, old, new):
    ticker1.options = nix(new, DEFAULT_TICKERS)
    update()

def update(selected=None):
    t1, t2 = ticker1.value, ticker2.value

    data = get_data(t1, t2)
    source.data = source.from_df(data[['t1', 't2', 't1_returns', 't2_returns']])
    source_static.data = source.data

    update_stats(data, t1, t2)

    corr.title.text = '%s returns vs. %s returns' % (t1, t2)
    ts1.title.text, ts2.title.text = t1, t2

def update_stats(data, t1, t2):
    stats.text = str(data[[t1, t2, t1+'_returns', t2+'_returns']].describe())

ticker1.on_change('value', ticker1_change)
ticker2.on_change('value', ticker2_change)

def selection_change(attrname, old, new):
    t1, t2 = ticker1.value, ticker2.value
    data = get_data(t1, t2)
    selected = source.selected['1d']['indices']
    if selected:
        data = data.iloc[selected, :]
    update_stats(data, t1, t2)

source.on_change('selected', selection_change)

# set up layout
widgets = column(ticker1, ticker2, stats)
main_row = row(corr, widgets)
series = column(ts1, ts2)
layout = column(main_row, series)

# initialize
update()

curdoc().add_root(layout)
curdoc().title = "Stocks"