In [1]:
import pandas as pd
import numpy as np

## Price relationship btwn organics and conventional crops


Notes:
- exempt farms are those that say they farm organic but do less thank $5k/year, so dont have be to be certified.
- cropland - areas used for the production of adapted crops for harvest
- rangeland - native vegetation land used for livestock
- pastureland - seed land used for livestock

Links:

!UNFORTUNATELY THE USDA PRICE DATA HASNT BEEN UPDATED SINCE 2012
- [USDA's ERS organic vs conventional price data](http://www.ers.usda.gov/data-products/organic-prices.aspx)
- [USDA's ERS Documentation for prices](http://www.ers.usda.gov/data-products/organic-prices/documentation.aspx)

The weekly reports are kept upt to date, but they're pdfs
- [USDA's AMS Organic Reports (with commentary](http://www.ers.usda.gov/data-products/organic-prices/documentation.aspx)

- [Resources for Organic and Transitioning Farmers](http://ofrf.org/policy/resources)

-[USDA Oraganic Insider newsletter archive](http://archive.constantcontact.com/fs054/1103777415326/archive/1108212629106.html)

https://www.agcensus.usda.gov/Publications/2012/Online_Resources/Organics/ORGANICS.pdf

https://www.ams.usda.gov/market-news/organic

https://www.ams.usda.gov/market-news/organic-market-news-reports

https://www.ams.usda.gov/market-news/custom-reports


- "The 2015 Certified Organic Survey publication will be released in September 2016." [here](https://www.nass.usda.gov/Surveys/Guide_to_NASS_Surveys/Organic_Production/index.php)

- [2014 Organic Survey](https://www.agcensus.usda.gov/Publications/2012/Online_Resources/Organics/)

USDA Risk Management Agency: [organics page](http://www.rma.usda.gov/news/currentissues/organics/)
- [Organic Pricing Methodologies for Barley, Corn,Cotton,Grain Sorghum, Rice, Soybeans, Sunflowers,and Wheat](http://www.rma.usda.gov/pubs/2015/organicpricingmethodology.pdf)
- [Summary of business for organic production](http://www.rma.usda.gov/data/sob/organic/2015organic.pdf)

[March 2016 report to congress](http://www.rma.usda.gov/pubs/2016/appropriations.pdf)
"After conducting research, it was determined that for some crops, the organic counterpart does 
not receive a premium price. For those crops, RMA has concluded that a premium organic price 
election is not warranted and has the potential to distort market behavior.  These crops are 
alfalfa seed, carambola trees, cigar filler tobacco, cigar wrapper tobacco, fire cured tobacco, forage seeding, lemon trees, lime trees, mango trees, and sugar beets."

- [Auction Cash Market for organics](http://www.mercaris.com/company#about)

In [2]:
%pwd

'/home/brett/Documents/JupyterNotebooks/AgResearch'

In [3]:
%cd /home/brett/Dropbox/AgResearch/

/home/brett/Dropbox/AgResearch

## 2014 organic survey table 551
Transitional Organic Land Operated by Non-Organic Farms

bullets:
- 688 non-organic farms are transitioning to grow organic products. 50,688 acres total
    - 24,550 acres cropland, 17,030 acres patureland, 9,108 acres rangeland

In [28]:
!head -n 10 corg_p551_t0561.csv

In [67]:
acresInTransition = pd.read_csv('corg_p551_t0561.csv',skiprows=6)

In [73]:
acresInTransition.head(10)

,Area,farmsCount,totalAcresInTrans,croplandAcresInTrans,pasturelandAcresInTrans,rangelandAcresInTrans
1,United States,688.0,50688,24550,17030,9108
3,Alabama,6.0,(D),17,(D),-
4,Alaska,1.0,(D),-,(D),-
5,Arkansas,2.0,(D),(D),-,(D)
6,California,57.0,2596,1971,582,43
7,Colorado,13.0,680,491,69,120
9,Connecticut,8.0,26,25,1,-
10,Delaware,1.0,(D),(D),-,-
11,Florida,21.0,135,56,39,40
12,Georgia,19.0,374,(D),(D),-

In [69]:
#drop nan rows
acresInTransition = acresInTransition[np.isfinite(acresInTransition['Farms'])]

In [70]:
#del col '561'
acresInTransition = acresInTransition.drop('561',1)

In [71]:
#del col 'h'
acresInTransition = acresInTransition.drop('h',1)

In [72]:
#rename columns
acresInTransition.columns = ['Area','farmsCount','totalAcresInTrans','croplandAcresInTrans',
                     'pasturelandAcresInTrans','rangelandAcresInTrans']

## 2014 organic survey table 1
Farms, land and value of sales of organic ag products - certified and exempt farms

bullets:

- There are 14,048 organic farms operating in the United states. The total acreage is 3,670,560 acres.
    - thats 261 acres per farm
- 1,365 farms are classified as transitional, with 122,175 acres transitioning. 
    - thats 89 acres per farm

In [83]:
!head -n 10 corg_p011_t0001.csv

In [154]:
farmsLandValue = pd.read_csv('corg_p011_t0001.csv',skiprows=4)

In [156]:
#drop nan rows
farmsLandValue = farmsLandValue[np.isfinite(farmsLandValue['United States'])]

In [157]:
#del cols
farmsLandValue = farmsLandValue.drop(farmsLandValue.columns[[0,1,5,6,7,8,9]],1)

In [158]:
#forward fill item names to get rid of nans
farmsLandValue['Item'] = farmsLandValue['Item'].fillna(method='ffill')

In [159]:
#rename columns
farmsLandValue.columns = ['Item','Type','UnitedStatesTotal']

In [161]:
farmsLandValue.head(10)

                                        Item   Type  UnitedStatesTotal
3                        Certified or exempt  farms          14093.000
8                                   operated  farms          14048.000
9                                   operated  acres        3670560.000
11                                Land owned  farms          12353.000
12                                Land owned  acres        2221715.000
13                   Land rented from others  farms           5582.000
14                   Land rented from others  acres        1507957.000
15                     Land rented to others  farms            521.000
16                     Land rented to others  acres          59112.000
18    Total certified organic acres operated  farms          12595.000

## ERS organic price tables [old data]

### Wholesale Veggies

In [7]:
!head -n 5 Vegetables2012.csv

" Wholesale vegetable prices, organic and conventional, monthly and annual, 2012",,,,,,,,,,,,,,,,,
Commodity,Subgroup,Package,Organic/ Conventional,Terminal Market,Jan-12,Feb-12,Mar-12,Apr-12,May-12,Jun-12,Jul-12,Aug-12,Sep-12,Oct-12,Nov-12,Dec-12,2012
Artichoke (SF only),Globe,"cartons, 24s",Conv,San Fran,28.58,30.00,30.94,18.50,13.48,17.83,30.00,35.26,25.75,24.66,23.47,26.29,24.12
Artichoke (SF only),Globe,"cartons, 24s",Org,San Fran,37.34,35.46,N\A,N\A,N\A,30.31,35.00,40.12,45.50,40.47,32.76,32.50,36.88
Cabbage,Round green type,"40 lb cartons, medium",Conv,Atlanta,N\A,N\A,N\A,N\A,N\A,N\A,N\A,16.50,N\A,N\A,N\A,N\A,16.50

In [13]:
Veggies2012 = pd.read_csv('Vegetables2012.csv',skiprows=1)

In [14]:
Veggies2013 = pd.read_csv('Vegetables2013.csv', skiprows=1)

In [ ]:
#transform the data so dates are a column

In [15]:
Veggies2013.head()
#Veggies2012.head()

,Commodity,Subgroup,Package,Organic/ Conventional,Terminal Market,Jan-13,Feb-13,Mar-13,Apr-13,May-13,Jun-13,Jul-13,Aug-13,Sep-13,Oct-13,Nov-13,Dec-13,2013
0,Artichoke (SF only),Globe,"cartons, 24s",Conv,San Fran,18.25,N\A,34.07,25.21,19.87,21.21,19.60,22.03,35.60,26.50,30.83,34.36,25.79
1,Artichoke (SF only),Globe,"cartons, 24s",Org,San Fran,38.00,16.00,16.00,38.50,N\A,28.23,20.80,42.00,40.72,N\A,N\A,N\A,32.18
2,Cabbage,Round green type,"45 lb cartons, medium",Conv,Atlanta,12.02,10.02,13.50,12.15,13.40,14.04,13.66,14.92,18.95,15.13,13.80,13.81,14.17
3,Cabbage,Round green type,"45 lb cartons, medium",Org,Atlanta,39.38,41.44,36.40,36.25,47.78,63.33,62.82,55.09,45.80,45.00,42.79,38.73,45.67
4,Cabbage,Round green type,"45 lb cartons, 18-24s",Conv,San Fran,25.73,18.33,20.49,11.55,11.23,10.04,10.20,12.45,23.48,20.41,17.53,17.03,16.39